<!DOCTYPE html>
<html>
<head>
  <title>Weekly Meetups</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    .message {
      margin: 30px 0;
    }
  </style>
</head>
<body>
  <p class="message">
    Hi Melbourne,<br />
    Here are your meetups for this week.<br />
  </p>
  <div><%= erb :meetups_list %></div>
  <p class="message">
    Feel free to hit Reply All to this thread if I've missed any meetups or you have something to share.<br />
    Any suggestions for general improvement or additional Meetup groups to be included is also very welcome.<br />
  </p>
  <p class="message">
    We've also got a little message from recruitment:<br />
    Here's the list of roles we're currently recruiting for in Australia.
    Please reach out to our recruitment team if you have any questions on our priority roles!<br /><br />

    <b>Sydney:</b><br />
    Consultant Developers<br />
    Lead Consultant Developer<br />
    Sales Operations Manager<br />
    Graduate Developers 2020 intake<br /><br />

    <b>Melbourne:</b><br />
    Consultant Developers<br />
    Data Engineers<br />
    Graduate Developers 2020 intake<br /><br />

    <b>Brisbane</b><br />
    Graduate Developers 2020 intake<br />
  </p>
  <p class="message">
    Cheers,<br />
    <%= ENV['EMAIL_SENDER_NAME'].split.first %>
  </p>
</body>
</html>