<!DOCTYPE html>
<html>
<head>
  <title>Weekly Meetups</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    .message {
      margin: 30px 0;
    }
  </style>
</head>
<body>
  <p class="message">
    Hi Melbourne,<br /><br/>
    Apologies for being idle the last couple of months, but Weekly Meetups is back!<br />
    <img src="https://media.giphy.com/media/xT8qBhUUelhfFfl7Py/source.gif" alt="Heyyyy" /><br /><br />
    This time we have more virtual meetups for you to keep you busy and ~connected~ at the comfort of your own home. Enjoy!<br />
  </p>
  <div><%= erb :meetups_list %></div>
  <p class="message">
    As always, feel free to hit Reply All to this thread if I've missed any meetups or you have something to share.<br />
  </p>
  <p class="message">
    Cheers,<br />
    <%= ENV['EMAIL_SENDER_NAME'].split.first %>
  </p>
</body>
</html>
