<!DOCTYPE html>
<html>
<head>
  <title>Weekly Meetups</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    .message {
      margin: 30px 0;
    }
  </style>
</head>
<body>
  <p class="message">
    Hi Melbourne,<br />
    Here are your meetups for this week.<br />
  </p>
  <div><%= erb :meetups_list %></div>
  <p class="message">
    Feel free to hit Reply All to this thread if I've missed any meetups or you have something to share.<br />
    Any suggestions for general improvement or additional Meetup groups to be included is also very welcome.<br />
  </p>
  <p class="message">
    Cheers,<br />
    Safira
  </p>
</body>
</html>