<!DOCTYPE html>
<html>
<head>
  <title>Weekly Meetups</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    .message {
      margin: 30px 0;
    }
  </style>
</head>
<body>
  <p class="message">
    Hi Melbourne,<br />
    Here are your meetups for this week.<br />
  </p>
  <div><%= erb :meetups_list %></div>
  <p class="message">
    Feel free to hit Reply All to this thread if I've missed any meetups or you have something to share.<br />
    Any suggestions for general improvement or additional Meetup groups to be included is also very welcome.<br />
  </p>
  <p class="message">
    +++<br />
    We've also got a little message from our lovely recruitment team:<br /><br />
    Met someone that you think will be a great ThoughtWorker?<br /><br />

    If you are at a Meetup and see a potential ThoughtWorker in the crowd, please let them know that we're hiring and that we are an AWESOME company to work for! If you are brave enough, get their contact details and submit their details through greenhouse as a referral.<br /><br />

    If they are successful, in addition to our referral bonus through our referral policy, a mystery prize (ooh lala) awaits if you make note that you met this candidate through a Meetup. Please reach out to our recruitment team if you have any questions :)<br /><br />

    The roles we are currently recruiting for can be found on our careers website - https://www.thoughtworks.com/careers/jobs<br />
  </p>
  <p class="message">
    Cheers,<br />
    <%= ENV['EMAIL_SENDER_NAME'].split.first %>
  </p>
</body>
</html>
