<!DOCTYPE html>
<html>
<head>
  <title>Weekly Meetups</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      display: flex;
      flex-direction: column;
      padding: 20px 30px;
      margin: 0;
    }
    #button {
      text-decoration: none;
      max-width: max-content;
      border: none;
      background: royalblue;
      color: white;
      border-radius: 5px;
      padding: 20px;
      margin: 10px 0;
    }
  </style>
</head>
<body>
  <div><%= erb :meetups_list %></div>
  <a id="button" href="/send-meetups-via-email">Send meetups to ThoughtWorks Melbourne via email</a>
</body>
</html>